/* Enigmail styles */

#button-enigmail-decrypt
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt.gif");
  }

#button-enigmail-decrypt[disabled="true"],
#button-enigmail-decrypt[disabled="true"]:hover,
#button-enigmail-decrypt[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-dis.gif");
  } 

#button-enigmail-decrypt:hover
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-hov.gif");
  } 

#button-enigmail-decrypt:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-act.gif");
  } 

#button-enigmail-send 
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend.gif");
  }

#button-enigmail-send[disabled="true"],
#button-enigmail-send[disabled="true"]:hover,
#button-enigmail-send[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend-dis.gif");
  } 

#button-enigmail-send:hover
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend-hov.gif");
  } 

#button-enigmail-send:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend-act.gif");
  } 

.action-box { width: 100px }

#expandedEnigmailBox {
 background-color:#d8e0e8 !important;
}
