/* Enigmail styles */

#button-enigmail-decrypt
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt.png");
  }

#button-enigmail-decrypt[disabled="true"],
#button-enigmail-decrypt[disabled="true"]:hover,
#button-enigmail-decrypt[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-dis.png");
  }

#button-enigmail-decrypt:hover
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-hov.png");
  }

#button-enigmail-decrypt:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-act.png");
  }

#button-enigmail-send
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend.png");
  }

#button-enigmail-send[disabled="true"],
#button-enigmail-send[disabled="true"]:hover,
#button-enigmail-send[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend-dis.png");
  }

#button-enigmail-send:hover
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend-hov.png");
  }

#button-enigmail-send:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigsend-act.png");
  }

.action-box { width: 100px }

#expandedEnigmailBox {
  background-color:#d8e0e8;
  color: black;
}

.enigmailHeaderNameBox {
  width: 7.7em;
  background-color:#d8e0e8;
  color: black;
}

.enigmailHeaderValue {
  margin: 0 0 .25em 0;
  min-width: 50px;
  white-space: normal;
  background-color:#d8e0e8;
}

.enigmailHeaderBoxLabelNoSignature {
  background-color:#d8e0e8;
  color: black;
}

.enigmailHeaderBoxLabelSignatureOk {
  background-color:#ccffcc;
  color: black;
}

.enigmailHeaderBoxLabelSignatureVerified {
  background-color:#ccffff;
  color: black;
}

.enigmailHeaderBoxLabelSignatureNotOk {
  background-color:#FFD8FE;
  color: black;
}

.enigmailHeaderBoxLabelSignatureUnknown {
  background-color:#FFFFC9;
  color: black;
}

.enigmailLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.enigmailStrong {
  font-weight: bold;
}

.enigmailUidInactive {
  color: gray;
  font-style: italic;
}

#messagepanebox[enigSigned="ok"] #messagepane {
  color: red;
}


#enigmail-status-bar #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="unknown"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignUnkown.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactive"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactive.png");
  visibility: visible;
}

#enigmail-status-bar #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactive"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactive.png");
  visibility: visible;
}

.enigmailPrefsTitle {
  font-weight: bold;
  height: 25px;
}

treechildren::-moz-tree-cell-text(enigmailSubkeyTitle) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigmailOwnKey) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigKeyInactive) {
  color: gray;
  font-style: italic;
}

treechildren::-moz-tree-column(enigDontEncrypt) {
  background-color: rgb(90%, 90%, 90%);
}

/* the following styles are available for the key trust
   columnm in the key manager:
    enigmail_keyValid_unknown
    enigmail_keyValid_invalid
    enigmail_keyValid_disabled
    enigmail_keyValid_revoked
    enigmail_keyValid_expired
    enigmail_keyTrust_untrusted
    enigmail_keyTrust_marginal
    enigmail_keyTrust_full
    enigmail_keyTrust_ultimate
    enigmail_keyTrust_unknown

They can be applied using:
treechildren::-moz-tree-cell(STYLE) {}
treechildren::-moz-tree-cell-text(STYLE) {}
*/
