/* Enigmail styles */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#button-enigmail-decrypt
  {
    list-style-image      : url("chrome://enigmail/skin/enigmail-toolbar.png");
    -moz-image-region: rect(0px 32px 32px 0px);
  }

#button-enigmail-decrypt[buttonover]
  {
    -moz-image-region: rect(32px 31px 64px 0px);
  }

#button-enigmail-decrypt[disabled]
  {
    -moz-image-region: rect(64px 31px 96px 0px) !important;
  }

toolbar[iconsize="small"]  #button-enigmail-decrypt
  {
    -moz-image-region: rect(0px 20px 20px 0px);
    list-style-image      : url("chrome://enigmail/skin/enigmail-toolbar-small.png");
  }

toolbar[iconsize="small"] #button-enigmail-decrypt[buttonover]
  {
    -moz-image-region: rect(20px 20px 40px 0px);
  }

toolbar[iconsize="small"] #button-enigmail-decrypt[disabled]
  {
    -moz-image-region: rect(40px 20px 60px 0px) !important;
  }

#button-enigmail-send {
   -moz-image-region: rect(0px 32px 32px 0px);
   list-style-image      : url("chrome://enigmail/skin/enigmail-settings.png");
}

#button-enigmail-send[buttonover] {
  -moz-image-region: rect(32px 32px 64px 0px);
}

#button-enigmail-send[buttondown] {
  -moz-image-region: rect(32px 32px 64px 0px);
}

#button-enigmail-send[disabled] {
  -moz-image-region: rect(64px 32px 96px 0px) !important;
}

toolbar[iconsize="small"] #button-enigmail-send {
  -moz-image-region: rect(0px 20px 20px 0px);
   list-style-image      : url("chrome://enigmail/skin/enigmail-settings-small.png");
}

toolbar[iconsize="small"] #button-enigmail-send:hover {
  -moz-image-region: rect(20px 20px 40px 0px);
}

toolbar[iconsize="small"] #button-enigmail-send[disabled] {
  -moz-image-region: rect(40px 20px 60px 0px) !important;
}

.action-box { width: 100px }

#expandedEnigmailBox {
 background-color:#d8e0e8 !important;
}

.enigmailHeaderBoxLabelSignatureOk {
}

.enigmailHeaderBoxLabelSignatureNotOk {
 color: #ff0000;
}

.enigmailHeaderBoxLabelSignatureUnknown {
 color: #E800FF;
}

#msgcomposeWindow #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#msgcomposeWindow[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignOk.gif");
  visibility: visible;
}

#msgcomposeWindow[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignNotOk.gif");
  visibility: visible;
}


#msgcomposeWindow #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#msgcomposeWindow[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoOk.gif");
  visibility: visible;
}

#msgcomposeWindow[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoNotOk.gif");
  visibility: visible;
}


#status-bar #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#status-bar[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignOk.gif");
  visibility: visible;
}

#status-bar[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignNotOk.gif");
  visibility: visible;
}


#status-bar #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#status-bar[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoOk.gif");
  visibility: visible;
}

#status-bar[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoNotOk.gif");
  visibility: visible;
}


.enigmailPrefsTitle {
  font-weight: bold;
  height: 25px;
}
