/* Enigmail styles */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#button-enigmail-decrypt
  {
    list-style-image      : url("chrome://enigmail/skin/enigmail-toolbar.png");
    -moz-image-region: rect(0px 24px 24px 0px);
  }

#button-enigmail-decrypt:hover
  {
    -moz-image-region: rect(24px 24px 48px 0px);
  }

#button-enigmail-decrypt[disabled]
  {
    -moz-image-region: rect(48px 24px 72px 0px);
  }

toolbar[iconsize="small"]  #button-enigmail-decrypt
  {
    -moz-image-region: rect(0px 16px 16px 0px);
    list-style-image      : url("chrome://enigmail/skin/enigmail-toolbar-small.png");
  }

toolbar[iconsize="small"] #button-enigmail-decrypt:hover
  {
    -moz-image-region: rect(16px 16px 32px 0px);
  }

toolbar[iconsize="small"] #button-enigmail-decrypt[disabled]
  {
    -moz-image-region: rect(32px 16px 48px 0px);
  }

#button-enigmail-send {
   -moz-image-region: rect(0px 24px 24px 0px);
   list-style-image      : url("chrome://enigmail/skin/enigmail-settings.png");
}

#button-enigmail-send:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
}

#button-enigmail-send[disabled] {
  -moz-image-region: rect(48px 24px 72px 0px);
}

toolbar[iconsize="small"] #button-enigmail-send {
  -moz-image-region: rect(0px 16px 16px 0px);
   list-style-image      : url("chrome://enigmail/skin/enigmail-settings-small.png");
}

toolbar[iconsize="small"] #button-enigmail-send:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

toolbar[iconsize="small"] #button-enigmail-send[disabled] {
  -moz-image-region: rect(32px 16px 48px 0px);
}

.action-box { width: 100px }

#expandedEnigmailBox {
 background-color:#d8e0e8;
}

.enigmailHeaderNameBox {
  width: 7.7em;
  background-color:#d8e0e8;
}

.enigmailHeaderValue {
  margin: 0 0 .25em 0;
  min-width: 50px;
  white-space: normal;
  background-color: #d8e0e8;
}

.enigmailHeaderBoxLabelNoSignature {
  background-color:#d8e0e8;
}

.enigmailHeaderBoxLabelSignatureOk {
  background-color:#ccffcc;
}

.enigmailHeaderBoxLabelSignatureVerified {
  background-color:#ccffff;
}

.enigmailHeaderBoxLabelSignatureNotOk {
 background-color:#FFD8FE;
}

.enigmailHeaderBoxLabelSignatureUnknown {
 background-color:#FFFFC9;
}


.enigmailLink {
  margin-left: 5px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.enigmailStrong {
  font-weight: bold;
}

.enigmailUidInactive {
  color: gray;
  font-style: italic;
}

#enigmail-status-bar #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="unknown"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignUnkown.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactive"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactive.png");
  visibility: visible;
}

#enigmail-status-bar #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactive"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactive.png");
  visibility: visible;
}

.enigmailPrefsTitle {
  font-weight: bold;
  height: 25px;
}

treechildren::-moz-tree-cell-text(enigmailSubkeyTitle) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigmailOwnKey) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigKeyInactive) {
  color: gray;
  font-style: italic;
}

treechildren::-moz-tree-column(enigDontEncrypt) {
  background-color: rgb(90%, 90%, 90%);
}

/* the following styles are available for the key trust
   columnm in the key manager:
    enigmail_keyValid_unknown
    enigmail_keyValid_invalid
    enigmail_keyValid_disabled
    enigmail_keyValid_revoked
    enigmail_keyValid_expired
    enigmail_keyTrust_untrusted
    enigmail_keyTrust_marginal
    enigmail_keyTrust_full
    enigmail_keyTrust_ultimate
    enigmail_keyTrust_unknown
    
They can be applied using:
treechildren::-moz-tree-cell(STYLE) {}
treechildren::-moz-tree-cell-text(STYLE) {}
*/
