/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/**
 * Enigmail styles for Mac OS X
 */

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#button-enigmail-decrypt
  {
    list-style-image : url("chrome://enigmail/skin/enigmail-decrypt.png");
  }

#button-enigmail-decrypt[disabled]
  {
    list-style-image : url("chrome://enigmail/skin/enigmail-decrypt-inactive.png");
  }

toolbar[iconsize="small"]  #button-enigmail-decrypt
  {
    list-style-image : url("chrome://enigmail/skin/enigmail-decrypt-small.png");
  }

toolbar[iconsize="small"] #button-enigmail-decrypt[disabled]
  {
    list-style-image : url("chrome://enigmail/skin/enigmail-decrypt-small-inactive.png");
  }

/***************************************************
 *  Icons for compose toolbar: encrytion
 ***************************************************/

#button-enigmail-encrypt
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-18.png");
}

/* hide label unless text-only mode is enabled */
toolbar:not([mode="text"]) #button-enigmail-encrypt .toolbarbutton-text {
  display: none;
}

#button-enigmail-encrypt[disabled] {
  list-style-image : url("chrome://enigmail/skin/encrypt-disabled-18.png");
}

#button-enigmail-encrypt[encrypted="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-18.png");
}

#button-enigmail-encrypt[encrypted="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-force-18.png");
}

#button-enigmail-encrypt[encrypted="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-force-18.png");
}


toolbar[iconsize="small"] #button-enigmail-encrypt
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-18.png");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[disabled] {
  list-style-image : url("chrome://enigmail/skin/encrypt-disabled-18.png");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[encrypted="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-18.png");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[encrypted="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-active-force-18.png");
}

toolbar[iconsize="small"] #button-enigmail-encrypt[encrypted="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/encrypt-inactive-force-18.png");
}


/***************************************************
 *  Icons for compose toolbar: signing
 ***************************************************/

#button-enigmail-sign
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-18.png");
}

/* hide label unless text-only mode is enabled */
toolbar:not([mode="text"]) #button-enigmail-sign .toolbarbutton-text {
  display: none;
}

#button-enigmail-sign[disabled] {
  list-style-image : url("chrome://enigmail/skin/sign-disabled-18.png");
}

#button-enigmail-sign[signed="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-18.png");
}

#button-enigmail-sign[signed="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-force-18.png");
}

#button-enigmail-sign[signed="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-force-18.png");
}


toolbar[iconsize="small"] #button-enigmail-sign
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-18.png");
  height: 18px;
}

toolbar[iconsize="small"] #button-enigmail-sign[disabled] {
  list-style-image : url("chrome://enigmail/skin/sign-disabled-18.png");
}

toolbar[iconsize="small"] #button-enigmail-sign[signed="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-18.png");
}

toolbar[iconsize="small"] #button-enigmail-sign[signed="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/sign-active-force-18.png");
}

toolbar[iconsize="small"] #button-enigmail-sign[signed="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/sign-inactive-force-18.png");
}

/***************************************************
 *  Icons for compose toolbar: attach own key
 ***************************************************/

#button-enigmail-attach
{
  list-style-image : url("chrome://enigmail/skin/attach-inactive-18.png");
}

#button-enigmail-attach[disabled] {
  list-style-image : url("chrome://enigmail/skin/attach-disabled-18.png");
}

#button-enigmail-attach[addPubkey="true"]
{
  list-style-image : url("chrome://enigmail/skin/attach-active-18.png");
}

toolbar[iconsize="small"] #button-enigmail-attach
{
  list-style-image : url("chrome://enigmail/skin/attach-inactive-24.png");
}

toolbar[iconsize="small"] #button-enigmail-attach[disabled] {
  list-style-image : url("chrome://enigmail/skin/attach-disabled-24.png");
}

toolbar[iconsize="small"] #button-enigmail-attach[addPubkey="true"]
{
  list-style-image : url("chrome://enigmail/skin/attach-active-24.png");
}



.action-box { width: 100px }

#expandedEnigmailBox {
 background-color:#d8e0e8;
 color: black;
}

.enigmailHeaderName {
  color: #888a85; /* lower contrast, TB3 */
  text-align: right;
  background-color: transparent;
  -moz-margin-end: 2px;
}

.enigmailHeaderNameBox {
  width: 7.7em;
  background-color:#d8e0e8;
  color: black;
}

.enigmailHeaderValue {
  min-width: 50px;
  white-space: normal;
  color: black;
  line-height: 1.4em;

  -moz-appearance: none !important;
  -moz-appearance: none;

  padding: 0px !important;
  margin: 0px !important;
  -moz-margin-start: 3px !important;
  border: none !important;
  background-color: transparent;
}

.enigmailHeaderSpacer {
  width: 2px;
}

.enigmailHeaderBoxLabelNoSignature {
  background-color:#d8e0e8;
  color: black;
}

.enigmailHeaderBoxLabelSignatureOk {
  background-color:#ccffcc;
  color: black;
}

.enigmailHeaderBoxLabelSignatureVerified {
  background-color:#ccffff;
  color: black;
}

.enigmailHeaderBoxLabelSignatureNotOk {
  background-color:#FFD8FE;
  color: black;
}

.enigmailHeaderBoxLabelSignatureUnknown {
  background-color:#FFFFC9;
  color: black;
}

.enigmailHeaderBoxLabelBuggyMailFormat {
  background-color:#FFD8FE;
  color: black;
}

.enigmailLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.enigmailStrong {
  font-weight: bold;
  color: red;
}

.enigmailUidInactive {
  color: gray;
  font-style: italic;
}

.enigMsgHdrView-flat-button {
  min-width: 1px !important;
  -moz-appearance: none;
  color: black;
  background-color: #DDDDDD;

  border: 2px solid transparent;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 2px;
  border-radius: 2px;
  -moz-border-top-colors: transparent threedhighlight threedlightshadow;
  -moz-border-right-colors: transparent threeddarkshadow threedshadow;
  -moz-border-bottom-colors: transparent threeddarkshadow threedshadow;
  -moz-border-left-colors: transparent threedhighlight threedlightshadow;
  min-height: 1ex;
}

.enigMsgHdrView-flat-button:hover {
  background-color: #CCCCCC;
}

.enigmailToolbar {
  -moz-appearance: none;
}

#messagepanebox[enigSigned="ok"] #messagepane {
  color: red;
}


/***************************************************
 *  Icons for messenger status bar
 ***************************************************/

#enigmail-status-bar #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="unknown"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignUnkown.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactive"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactive.png");
  visibility: visible;
}

#enigmail-status-bar #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactive"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactive.png");
  visibility: visible;
}


/***************************************************
 *  Icons for compose status bar: signed states
 ***************************************************/

#enigmail-signing-status[disabled] {
  visibility: collapse;
}

#enigmail-signing-status[signed="forceYes"] {
  list-style-image: url("chrome://enigmail/skin/enigSignForceYes.png");
  visibility: visible;
}

#enigmail-signing-status[signed="forceNo"] {
  list-style-image: url("chrome://enigmail/skin/enigSignForceNo.png");
  visibility: visible;
}

#enigmail-signing-status[signed="inactiveNone"] {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveNone.png");
  visibility: visible;
}

#enigmail-signing-status[signed="inactivePlus"]  {
  list-style-image: url("chrome://enigmail/skin/enigSignInactivePlus.png");
  visibility: visible;
}

#enigmail-signing-status[signed="inactiveMinus"]  {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveMinus.png");
  visibility: visible;
}

#enigmail-signing-status[signed="inactiveConflict"] {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveConflict.png");
  visibility: visible;
}

#enigmail-signing-status[signed="activeNone"]  {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveNone.png");
  visibility: visible;
}

#enigmail-signing-status[signed="activePlus"]  {
  list-style-image: url("chrome://enigmail/skin/enigSignActivePlus.png");
  visibility: visible;
}

#enigmail-signing-status[signed="activeMinus"]  {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveMinus.png");
  visibility: visible;
}

#enigmail-signing-status[signed="activeConflict"]  {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveConflict.png");
  visibility: visible;
}

/***************************************************
 *  Icons for compose status bar: encrypted states
 ***************************************************/


#enigmail-encryption-status[disabled] {
  visibility: collapse;
}

#enigmail-encryption-status[encrypted="inactiveNone"] {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveNone.png");
  visibility: visible;
}

#enigmail-encryption-status[encrypted="forceYes"] {
  list-style-image: url("chrome://enigmail/skin/enigEncForceYes.png");
  visibility: visible;
}

 #enigmail-encryption-status[encrypted="forceNo"] {
  list-style-image: url("chrome://enigmail/skin/enigEncForceNo.png");
  visibility: visible;
}

#enigmail-encryption-status[encrypted="activeNone"]  {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveNone.png");
  visibility: visible;
}

#enigmail-encryption-status[encrypted="activePlus"] {
  list-style-image: url("chrome://enigmail/skin/enigEncActivePlus.png");
  visibility: visible;
}

 #enigmail-encryption-status[encrypted="activeMinus"] {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveMinus.png");
  visibility: visible;
}

#enigmail-encryption-status[encrypted="activeConflict"]  {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveConflict.png");
  visibility: visible;
}


#enigmail-encryption-status[encrypted="inactivePlus"]  {
  list-style-image: url("chrome://enigmail/skin/enigEncInactivePlus.png");
  visibility: visible;
}

 #enigmail-encryption-status[encrypted="inactiveMinus"] {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveMinus.png");
  visibility: visible;
}

#enigmail-encryption-status[encrypted="inactiveConflict"] {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveConflict.png");
  visibility: visible;
}


.enigmailPrefsTitle {
  font-weight: bold;
  height: 25px;
}

.enigmailKeyImportHeader {
	font-weight: bold;
	color: #888;
}

.enigmailKeyImportCaption {
	font-size: 2.5em;
	color: green;
}

.enigmailKeyImportDetails {
	color: blue;
}

.enigmailKeyImportDetails:hover {
	text-decoration: underline;
}

treechildren::-moz-tree-cell-text(enigmailSubkeyTitle) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigmailOwnKey) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigKeyInactive) {
  color: gray;
  font-style: italic;
}

treechildren::-moz-tree-column(enigDontEncrypt) {
  background-color: rgb(90%, 90%, 90%);
}

treechildren::-moz-tree-cell-text(fixedWidthFont) {
  font-family: "Courier New", Courier, monospace;
}

.enigmailExpandViewButton {
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://enigmail/skin/twisty-clsd.png");
}

.enigmailCollapseViewButton {
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://enigmail/skin/twisty-open.png");

}

.enigmailWarningIcon {
  list-style-image: url("chrome://enigmail/skin/warning-16.png");
}

treechildren::-moz-tree-image(enigSignedEncrypted)
{
  list-style-image: url("chrome://enigmail/skin/col-encrypted-signed.png");
}

treechildren::-moz-tree-image(enigSigned)
{
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
}

treechildren::-moz-tree-image(enigEncrypted)
{
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
}

/*
   the following styles are available for the key trust
   columnm in the key manager:
    enigmail_keyValid_unknown
    enigmail_keyValid_invalid
    enigmail_keyValid_disabled
    enigmail_keyValid_revoked
    enigmail_keyValid_expired
    enigmail_keyTrust_untrusted
    enigmail_keyTrust_marginal
    enigmail_keyTrust_full
    enigmail_keyTrust_ultimate
    enigmail_keyTrust_unknown

They can be applied using:
treechildren::-moz-tree-cell(STYLE) {}
treechildren::-moz-tree-cell-text(STYLE) {}
*/

/******************************
 *  Rules for filter actions
 ******************************/

.ruleactiontarget[type="enigmail@enigmail.net#filterActionMoveDecrypt"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder");
}

.ruleactiontarget[type="enigmail@enigmail.net#filterActionCopyDecrypt"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder");
}

.enigmailPassphraseQuality {
  margin: 2px 4px;
  min-width: 128px;
  height: 12px;
  background-color: #C21540;
}

.enigmailPassphraseQuality[value="medium"] {
  background-color: #5885C4;
}

.enigmailPassphraseQuality[value="high"] {
  background-color: #64C4A1;
}

.enigmailPassphraseQuality[value="excellent"] {
  background-color: #1A9C2A;
}

/* a spinning wheel circle */
.enigmailWheel {
  list-style-image: url("chrome://enigmail/skin/spinning-wheel.png");
  max-width: 100%;
  max-height: 100%;
}

.enigmailSpinning {
  animation: enigmailDoRotation 1.4s infinite linear;
  transform: translateZ(0);
}

@keyframes enigmailDoRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
