/* Enigmail styles */

#button-enigmail-decrypt
  {
    list-style-image      : url("chrome://communicator/skin/unlock.gif");
  }

#button-enigmail-send 
  {
    list-style-image      : url("chrome://messenger/skin/messengercompose/send.gif");
  }

#button-enigmail-send[disabled="true"],
#button-enigmail-send[disabled="true"]:hover,
#button-enigmail-send[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/messengercompose/send-disabled.gif");
  } 

#button-enigmail-send:hover
  {
    list-style-image      : url("chrome://messenger/skin/messengercompose/send-hover.gif");
  } 

#button-enigmail-send:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/messengercompose/send-hover-active.gif");
  } 
