/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/**
 * Enigmail styles for the SeaMonkey "Modern" theme
 */

@import url("chrome://enigmail/skin/enigmail-common.css"); /* common styles for all platforms */
@import url("chrome://enigmail/skin/enigmail-pEp.css");    /* styles related to pEp for all platforms */


#button-enigmail-decrypt
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt.png");
  }

#button-enigmail-decrypt[disabled="true"],
#button-enigmail-decrypt[disabled="true"]:hover,
#button-enigmail-decrypt[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-dis.png");
  }

#button-enigmail-decrypt:hover
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-hov.png");
  }

#button-enigmail-decrypt:hover:active
  {
    list-style-image      : url("chrome://enigmail/skin/enigdecrypt-act.png");
  }

/***************************************************
 *  Icons for compose toolbar: encryption
 ***************************************************/

#button-enigmail-encrypt
{
  list-style-image : url("chrome://enigmail/skin/modern-encrypt-inactive.png");
}

#button-enigmail-encrypt[disabled] {
  list-style-image : url("chrome://enigmail/skin/modern-encrypt-disabled.png");
}

#button-enigmail-encrypt[encrypted="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/modern-encrypt-active.png");
}

#button-enigmail-encrypt[encrypted="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/modern-encrypt-active-force.png");
}

#button-enigmail-encrypt[encrypted="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/modern-encrypt-inactive-force.png");
}


/***************************************************
 *  Icons for compose toolbar: signing
 ***************************************************/

#button-enigmail-sign
{
  list-style-image : url("chrome://enigmail/skin/modern-sign-inactive.png");
}

#button-enigmail-sign[disabled] {
  list-style-image : url("chrome://enigmail/skin/modern-sign-disabled.png");
}

#button-enigmail-sign[signed="activeNone"]
{
  list-style-image : url("chrome://enigmail/skin/modern-sign-active.png");
}

#button-enigmail-sign[signed="forceYes"]
{
  list-style-image : url("chrome://enigmail/skin/modern-sign-active-force.png");
}

#button-enigmail-sign[signed="forceNo"]
{
  list-style-image : url("chrome://enigmail/skin/modern-sign-inactive-force.png");
}

/***************************************************
 *  Icons for compose toolbar: attach own key
 ***************************************************/

#button-enigmail-attach
{
  list-style-image : url("chrome://enigmail/skin/modern-attach-inactive.png");
}

#button-enigmail-attach[disabled] {
  list-style-image : url("chrome://enigmail/skin/modern-attach-disabled.png");
}

#button-enigmail-attach[addPubkey="true"]
{
  list-style-image : url("chrome://enigmail/skin/modern-attach-active.png");
}


.enigmailToolbar {
  min-width: 50px;
  white-space: normal;
  color: WindowText;
  line-height: 1.4em;

  -moz-appearance: none !important;
  -moz-appearance: none;

  padding: 0px !important;
  margin: 0px !important;
  -moz-margin-start: 3px !important;
  border: none !important;
  background-color: transparent;
  background-image: url("chrome://enigmail/skin/modern-toolbar-background.png");
}

/***************************************************
 *  Icons for messenger status bar
 ***************************************************/

#enigmail-status-bar #enigmail-signed-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[signed="ok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="notok"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[signed="unknown"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignUnkown.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactive"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactive.png");
  visibility: visible;
}

#enigmail-status-bar #enigmail-encrypted-status {
  list-style-image: none;
  visibility: collapse;
}

#enigmail-status-bar[encrypted="ok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="notok"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncNotOk.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactive"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactive.png");
  visibility: visible;
}


/***************************************************
 *  Icons for compose status bar: signed states
 ***************************************************/

#enigmail-status-bar[signed="forceYes"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignForceYes.png");
  visibility: visible;
}

#enigmail-status-bar[signed="forceNo"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignForceNo.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactiveNone"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactivePlus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactiveMinus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="inactiveConflict"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignInactiveConflict.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activeNone"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activePlus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activeMinus"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[signed="activeConflict"] #enigmail-signed-status {
  list-style-image: url("chrome://enigmail/skin/enigSignActiveConflict.png");
  visibility: visible;
}

/***************************************************
 *  Icons for compose status bar: encrypted states
 ***************************************************/

#enigmail-status-bar[encrypted="forceYes"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncForceYes.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="forceNo"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncForceNo.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activeNone"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activePlus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activeMinus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="activeConflict"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncActiveConflict.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactiveNone"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveNone.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactivePlus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactivePlus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactiveMinus"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveMinus.png");
  visibility: visible;
}

#enigmail-status-bar[encrypted="inactiveConflict"] #enigmail-encrypted-status {
  list-style-image: url("chrome://enigmail/skin/enigEncInactiveConflict.png");
  visibility: visible;
}
